.footer{
	
	background-color: rgb(224,222,219);
}
.footer .warper{
	overflow: hidden;
}
.f_banner{
	border-bottom: 1px solid #ccc;
	height: 76px;
	margin-top: 36px;
}
.f_banner ul{
	padding-left: 40px;
}
.f_banner ul li{
	float: left;
	width: 230px;
	height: 55px;
}
.f_banner ul li section{
	float: left;
}
.f_banner .img_show{
	width: 58px;
	height: 52px;
	background: url(../images/icons.png) no-repeat -252px 0px;
}
.f_banner .img_show2{
	background: url(../images/icons.png) no-repeat -252px -54px;
}
.f_banner .img_show3{
	background: url(../images/icons.png) no-repeat -252px -105px;
}
.f_banner .img_show4{
	background: url(../images/icons.png) no-repeat -252px -156px;
}
.f_banner .img_show5{
	background: url(../images/icons.png) no-repeat -252px -208px;
}
.text_show{
	line-height: 30px;

}
.text_show h4{
	font-size: 18px;
}


.middle_list{
	height: 208px;
	border-bottom:1px solid #ccc;
}

.middle_list dl{
	float: left;
	width: 190px;
	margin-top: 24px;

}
.middle_list dl:first-child{
	margin-left: 50px;
}
.middle_list dl dt{
	font-size: 18px;
	font-weight: 700;
	height: 30px;

}
.middle_list dd{
	height: 24px;
	font-size: 14px;

}
.middle_list dt a{
	color: gray;
}
.middle_list dl:last-child dd:nth-child(2){
	height: 100px;


}
.bot_footer{
	text-align: center;
	margin-top: 10px;
	
}
.bot_footer p{
	font-size: 14px;
	line-height: 20px;

}

.bot_footer span{
	margin: 0 15px;
}