.top_header{
	height: 80px;
	background-color: #000;
}
.top_header a{
	width: 20px;
	height: 20px;
	background-color: rgba(255,255,255,.5);
	line-height: 20px;
	text-align: center;
	display: block;
	color:#fff;
	position: absolute;
	top: 10px;
	right:0px;
}
.top_header a:hover{
	background-color: rgba(255,255,255,.2);
}
.top_header .warper{
	position: relative;

}
.nav .warper{
	position: relative;
}
.nav{
	height: 30px;
	background-color: #ccc;
	border-bottom: 1px solid pink;
	margin-bottom: 30px;
}
.nav ul li{
	float:left;
	line-height: 30px;
	font-size: 12px;
}
.nav .list a{
	
	margin-left: 5px;
}
.nav .list a:hover{
	color:red;

}
.nav .list_menu{
	right: 0;
	position: absolute;	

}
.nav .list_menu li{
	margin-left: 10px;
}
.nav .left{
	width: 2px;
	height: 12px;
	background-color: gray;
	margin-top: 10px;
	
}
.nav .icon-xiangxiajiantou{
	font-size: 12px;
}
.logo{
	height: 80px;
	
	
}

.logo img{
	float: left;

}
.logo .sear{
	float: left;
	margin-left: 224px;
	position: relative;
}
.logo .search{
	width: 450px;
	height: 30px;
	border:1px solid rgb(255,0,0);
	padding-left: 10px;
	box-sizing:border-box;

}
.logo .btn{
	height: 30px;
	width: 50px;
	background-color: rgb(255,0,0);
	position: absolute;
	
}
.logo .icon-sousuo{
	position: absolute;
	bottom: 10px;
	right:-7%;
	top:28%;
}
.r_shopping{
	width: 190px;
	height: 33px;
	border:1px solid #ccc;
	float: right;
	line-height: 33px;
	position: relative;
}
.r_shopping .icon-gouwuchetianjia{
	margin-left: 65px;

}
.r_shopping span{
	width: 20px;
	height: 20px;
	background-color: red;
	border-radius: 7px 7px 7px 0px;
	position:absolute;
	color:#fff;
	top:-25%;
	margin-left: 150px;
	text-align: center;
	display: block;
	line-height: 20px;
}
.list3{
	position: relative;
}
.list3 ul{
	margin-left: 100px;
	position: absolute;
	bottom:-60px;
	margin-left: 384px;
}
.list3 ul li{
	float: left;
	margin-left: 10px;
	

}
.list3 ul li a{
	font-size: 12px;
}



.m_nav{
	border-bottom: 2px solid rgb(202,0,0);
	height: 46px;
	
}
.m_nav .warper{
	
	height: 46px;
}
.m_nav .warper section{
	float:left;
}
.m_nav .warper .left_s{
	height: 46px;
	width: 210px;
	background-color: rgb(202,0,0);
	position: relative;
	z-index: 11;

}
.m_nav .warper .left_s h4{
	text-align: center;
	line-height: 46px;
	color:#fff;
	font-size: 20px;

}
.m_nav .warper .left_s ul{
	width: 210px;
	height: 466px;
	background-color:rgba(202,0,0,.8);
	padding-top: 10px;
	box-sizing:border-box;
}
.m_nav .warper .left_s a{
	display: block;
	padding:0px 12px;
	height: 30px;
	color:#fff;
	font-family: "宋体";
	line-height: 30px;

}
.m_nav .warper .left_s a span{
	font-weight: bolder;
	color:#fff;
}
.m_nav .warper .left_s li:hover{
	background-color: orange;
}

.m_nav .warper .left_s a span{
	float: right;

}
.right_s{
	float: left;
	margin-top: 12px;
	margin-left: 50px;
}
.right_s li{
	margin-right: 32px;
	float: left;
}
.right_s li:last-child{
	margin-right: 0px;
}
.right_s a{
	font-size: 20px;
	font-weight: bold;
}
.right_s a:hover{
	color:#000;
}