.header{
	height: 80px;
	line-height: 80px;
	border-bottom: 2px solid red;

}
.main_body{
	height: 500px;
	border:1px solid #ccc;
	margin-top: 20px;
}
a{
	font-size: 14px;
}
.left{
	float:left;
}

.right{
	float: right;
}
.title{
	height: 40px;
	background-color: #ccc;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
}
.title h4{
	margin-left: 20px;
}
.title  a{
	margin-right: 20px;
}


.title  a span{
	color:red;
}
.table{
	width: 580px;
	height: 320px;

	margin: 50px auto;
}
.table label{
	display: inline-block;
	width: 100px;
	height: 35px;
	
	text-align: right;
	line-height: 35px;
}
.table input{
	width: 240px;
	height: 35px;
	border:1px solid #ccc;
}
.table a{
	
	position: relative;
}
.table a img{
	position: absolute;
	top:-3px;
}
.table a span{
	margin-left: 24px;
	color:red;
}
.table .one{
	margin-top: 20px;

}
.table .three input{
	width: 10px;
	height: 10px;
}
.table  .four input{
	background-color: red;
	color:#fff;
	font-weight: bold;
	border: 1px solid red;
	margin-left: 100px;
	margin-top: 30px;
}
.table  .four input:hover{
	background-color: orange;
	border:1px solid orange;
}
footer{
	height: 50px;
	margin-top: 20px;

	text-align: center;
	

}
.foot_p{
	
}
